py2app==0.21
Cython==0.29.15
altgraph==0.17
chardet==3.0.4
et-xmlfile==1.0.1
jdcal==1.4.1
lxml==4.6.2
macholib==1.14
modulegraph==0.18
nanomsg==1.0
numpy==1.18.1
openpyxl==3.0.5
protobuf==3.13.0
pyexcel-ezodf==0.3.4
PyYAML==5.3
scipy==1.4.1
six==1.14.0
tornado==6.0.3
aiohttp==3.6.2
